<label for="">Server Name:</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName">

<p>{{ serverName }}</p>

<button 
class="btn btn-primary" style="margin-bottom:30px" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>

<!-- <p [innerText]="allowNewServer"></p>
<p>{{ allowNewServer }}</p> -->

<p>{{ serverCreationStatus }}</p>

<app-server></app-server>
<app-server></app-server>
<br>

<label for="">User Name:</label>
<input type="text" class="form-control" [(ngModel)]="userName" (input)="enableResetUser()">

<p>{{ userName }}</p>

<button class="btn btn-primary" style="margin-bottom:30px" [disabled]="!allowResetUser" (click)="resetUser()">Reset User</button>